<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Szczegóły Klient</title>
  <link rel="stylesheet" href="/Styles/default.css" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Quicksand:wght@300&display=swap"
    rel="stylesheet">
  <script type="application/javascript" src="/Scripts/validationCommon.js"></script>
  <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
</head>

<body>

  <header>
    <a href="/views/index.html">
      <h1>Biblioteka</h1>
    </a>
    <a href="/views/index.html">
      <img src="/Images/Logo.png" alt="Biblioteka Logo">
    </a>
  </header>



  <nav>

    <ul>

      <li><a href="/views/index.html">Strona główna</a> </li>
      <li><a href="/Subpages/Klient/list.html" class="active">Klient</a> </li>
      <li><a href="/Subpages/Wypozyczenie/list.html">Wypożyczenie</a> </li>
      <li><a href="/Subpages/Egzemplarz_ksiazki/list.html">Egzemplarz Książki</a> </li>


    </ul>

  </nav>

  <main>

    <h2>Szczegóły Klienta</h2>



    <form class="form">

      <label>ID:<span class="symbol-required">*</span></label>
      <input type="text" name="id" id="id" value="1" disabled>
      <span id="errorId" class="error-text"></span>

      <label>Imie:<span class="symbol-required">*</span></label>
      <input type="text" name="firstName" id="firstName" value="Adam" disabled>
      <span id="errorFirstName" class="error-text"></span>

      <label>Nazwisko:<span class="symbol-required">*</span></label>
      <input type="text" name="lastName" id="lastName" value="Małysz" disabled>
      <span id="errorLastName" class="error-text"></span>

      <label>Email:</label>
      <input type="text" name="email" id="email" value="AM@ttt.pl" disabled>
      <span id="errorEmail" class="error-text"></span>




    </form>

    <h2>Wypożyczenia klienta</h2>

    <table class="table-list">

      <thead>

        <tr>
          <th>Książka</th>
          <th>Id Książki</th>
          <th>Data Wypożyczenia</th>
          <th>Data Zwrotu</th>
        </tr>

      </thead>

      <tbody>

        <tr>
          <th>,,Pan Tadeusz''</th>
          <th>1</th>
          <th>2001-01-01</th>
          <th>2001-02-19</th>
        </tr>

        <tr>
          <th>,,Java - Podstawy''</th>
          <th>3</th>
          <th>2001-03-22</th>
          <th></th>
        </tr>

      </tbody>



    </table>

    <div class="details-buttons">
      <a href="/Subpages/Klient/list.html" class="button-return">
        <img src="/Images/icons8-u-turn-to-left-64.png" alt="RETURN" class="button-return-icon">
        <span class="button-return-text">Powrót</span>
      </a>
      <a href="/Subpages/Klient/form-edit.html" class="button-edit">
        <img src="/Images/icons8-pencil-64.png" alt="EDIT" class="button-edit-icon">
        <span class="button-edit-text">Edytuj</span>
      </a>
    </div>

  </main>

  <footer><a href="mailto: s23109@pjwstk.edu.pl">Dawid Kachniarz, s23109</a></footer>

</body>

</html>