<%- include('../../fragments/header.ejs') %>

  <main>

    <h2>Nowy Klient</h2>



    <form class="form" novalidate onsubmit="return validateForm();">

      <label>Imie:<span class="symbol-required">*</span></label>
      <input type="text" name="firstName" id="firstName" required>
      <span id="errorFirstName" class="error-text"></span>

      <label>Nazwisko:<span class="symbol-required">*</span></label>
      <input type="text" name="lastName" id="lastName" required>
      <span id="errorLastName" class="error-text"></span>

      <label>Email:</label>
      <input type="email" name="email" id="email">
      <span id="errorEmail" class="error-text"></span>

      <!-- Buttons end form -->
      <div class="form-buttons">

        <p id="errorSummary" class="error-text"></p>
        <input type="submit" value="Dodaj" class="form-button-submit">
        <a href="/klient" class="form-button-cancel">Anuluj</a>

      </div>

    </form>

  </main>

<%- include('../../fragments/footer.ejs') %>