<%- include('./fragments/header.ejs') %>
    <main>

        <h2><%=__('nav.main-page')%></h2>
        <p>Lorem ipsum dolLorem ipsum dolor sit amet ...Lorem ipsum dolor sit amet ...Lorem ipsum dolor sit amet
            ...Lorem ipsum dolor sit amet ...Lorem ipsum dolor sit amet ...Lorem ipsum dolor sit amet ...Lorem ipsum
            dolor sit amet ...Lorem ipsum dolor sit amet ...Lorem ipsum dolor sit amet ...Lorem ipsum dolor sit amet
            ...or sit amet ... </p>

    </main>

<%- include('./fragments/footer.ejs') %>