<%- include('../../fragments/header.ejs') %>

    <main>

        <h2>Dodaj książkę</h2>



        <form class="form" novalidate onsubmit="return validateForm();">
            <label>Tytuł:<span class="symbol-required">*</span></label>
            <input type="text" name="title" id="title" required>
            <span id="errorTitle" class="error-text"></span>

            <label>Data pozyskania:<span class="symbol-required">*</span></label>
            <input type="date" name="date" id="date" required>
            <span id="errorDate" class="error-text"></span>

            <label>Strony:<span class="symbol-required">*</span></label>
            <input type="number" name="pages" id="pages" required>
            <span id="errorPages" class="error-text"></span>


            <label>Uszkodzenia:</label>
            <input type="text" name="damage" id="damage">
            <span id="errorDamage" class="error-text"></span>

            <div class="form-buttons">

                <p id="errorSummary" class="error-text"></p>
                <input type="submit" value="Dodaj" class="form-button-submit">
                <a href="/egzemplarz_ksiazki" class="form-button-cancel">Anuluj</a>

            </div>

        </form>
    </main>
<%- include('../../fragments/footer.ejs') %>