<footer><a href="mailto: s23109@pjwstk.edu.pl">Dawid Kachniarz, s23109</a></footer>
<ul>
    <li><a href="/changeLang/pl" class="<%= lang == 'pl'? 'active' : '' %>">PL</a></li>
    <li><a href="/changeLang/en" class="<%= lang == 'en'? 'active' : '' %>">EN</a></li>
</ul>
</body>

</html>