<div class="lang-container">
    <a href="/changeLang/pl" class="<%= lang == 'pl' || !lang ? 'active' : '' %>">
        <img src="/Images/Flags/PL.png">
    </a>
    <a href="/changeLang/en" class="<%= lang == 'en'? 'active' : '' %>">
        <img src="/Images/Flags/GB.png">
    </a>
</div>
<footer><a href="mailto: s23109@pjwstk.edu.pl">Dawid Kachniarz, s23109</a></footer>
</body>

</html>