<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <link rel="stylesheet" href="/Styles/default.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">
    <script type="application/javascript" src="/Scripts/validationCommon.js"></script>
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
</head>

<body>

<header>
    <a href="/views/index.html">
        <h1>Biblioteka</h1>
    </a>
    <a href="/views/index.html">
        <img src="/Images/Logo.png" alt="Biblioteka Logo">
    </a>
</header>

<nav>

    <ul>

        <li><a href="/"  class ="<%= navLocation == 'main' ? 'active' : '' %>">Strona główna</a> </li>
        <li><a href="/klient" class ="<%= navLocation == 'klient' ? 'active' : '' %>">Klient</a> </li>
        <li><a href="/Subpages/Wypozyczenie/list.html">Wypożyczenie</a> </li>
        <li><a href="/Subpages/Egzemplarz_ksiazki/list.html">Egzemplarz Książki</a> </li>

    </ul>

</nav>